GOOGLE_APP_PASSWORD2="tu clave de aplicación ligada al uso de email"
GOOGLE_APP_EMAIL2="tu_email@gmail.com"
JWT_SECRET="NO USADO PORA HORA"
ENCRIPT_FIELDS_FRONT="NO USADO, AHORA SE USA CLAVES PUBLICA Y PRIVADA"
FRONTEND_URL=https://tuapp.com
NODE_ENV='production'
DATABASE_URL=postgresql://...
PORT=80
