node_modules/
Tutoriales/
src/data/
*.db
*.sqlite
*.sqlite3
DB/MESSAGES/

# Variables de entorno
.env
.env.local
.env.production
.env.*.local

# Mantener ejemplo
!.env.example
lindex.js
windex.js

# Ignorar contenido de data/ pero mantener la carpeta
data/*
!data/.gitkeep