
<main>
<div style="clear:both;float:left;display:block;width:100%;height:50px;">

</div>
            
        <div class="container">
            <h2>&nbsp;Acerca del producto</h2>
            <div class = "p12">
            Este software sirve para solicitar publicamente un empleo, solicirar un servicio y también para ofrecer un producto o inmueble.  Es decir para lo que corresponde al área laboral y de ventas.
            </div>
        </div>    
</main>