<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name = "description"content="Consigue trabajo online y/o solicita trabajadores online."/>
    <meta name="keywords" content="trabajo, empleo, online"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Ofertio</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <%- include('../partials/header') %>            
    <%- body %>    
    <%- include('../partials/footer') %>
</body>
</html>